.projects {
  width: 90%;
  margin: auto;
  min-height: 86vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 2rem;
  }
}
.travelly,
.elena {
  flex: 1 1 40rem;
  img {
    width: 70%;
    border-radius: 5%;
    border: 2px solid black;
  }
}
