.projects-page {
  width: 92%;
  margin: auto;
  min-height: 88vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 2rem;
  }
}
.project {
  flex: 1 1 40rem;
  img {
    width: 90%;
    border-radius: 1rem;
    border: 0.7rem double black;
    cursor:pointer;
    transition: 0.3s;
  }

  img:hover {
  transform: scale(1.04);
  }
}

